.wp-block-team-member-team-member {
	&.team-member-backend-card-img {
		.team-member-team-member-img- {
			position: relative;
			&.is-loading {
				opacity: 0.5;
				.components-spinner {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}
}

//team-member-image
